html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 1360px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  position: relative;
  background-color: #fdfaf3;

  &::after {
    content:'+7 (800) 823 48 88';
    position: absolute;
    top: 30px;
    right: 95px;
  }
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/Fontfabric - MullerLight.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

section {
  background-color: #fdfaf3;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.header {
  &__background {
    position: absolute;
    top:0;
    left: 0;
    width: 1163px;
    margin: 80px 95px 80px 100px;
    height: 595px;

    background: url("../img/d-background-image.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  &__content {
    width: 679px;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    color: #ffffff;
    background-color: rgba(17, 37, 55, .97);
    z-index: 1;
  }

  &__logo {
    position: absolute;
    top: 25px;
    right: -65px;
  }

  &__wrapper {
    margin: 0 125px 0 190px;
  }

  &__caption {
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
  }

  &__description {
    font-family: 'MullerLight', serif;
    font-size: 14px;
  }

  &__menu {
    display: none;
    margin-right: auto;
    list-style: none;
  }
}

.button {
  width: 277px;
  height: 56px;
  box-sizing: border-box;
  padding: 20px 30px;

  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;

  border: none;
  background-color: #f8a25a;
  box-shadow: 4px 7px 20px 8px rgba(0, 1, 6, 0.06);
}
.pre {
  width: 100%;
  min-height: 500px;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px 95px;
  margin: 0;
  counter-reset: myCounter;

  & li {
    width: 260px;
    list-style: none;
    line-height: 20px;

    &:nth-child(even) {
      align-self: flex-end;
    }

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: rgba(254, 160, 82, 0.26);
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      margin: 0 10px 0 0;
      padding: 0 8px;

      font-family: 'Playfair Display SC', serif;
      font-size: 85px;
    }
  }
}

.main-caption{
  font-family: 'Playfair Display SC', serif;
  font-size: 45px;

  color: #00203a;
}

.portfolio,
.services {
  padding: 0 90px 120px;

  color: #7d7d7d;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.portfolio {
  &__list {
    display: flex;
    padding: 0;
    margin: 10px 0 40px;
  }

  &__item {
    margin-right: 60px;

    &-active{
      position: relative;
      color: #00203a;
      font-weight: 600;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #00203a;
        bottom: -5px;
        left: 0;
      }
    }
  }

  &__slider {
    width: 100%;
    height: 555px;
    background-color: rgba(255, 0, 0, 0.29);
  }
}

.services {
  display: flex;
  flex-wrap: wrap;

  &-caption {
    width: 100%;
    margin-bottom: 70px;
  }

  &__content {
    width: 875px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    flex: 1 1 auto;
    width: 225px;
    padding: 0;
    margin-right: 50px;
  }

  &__item {
    padding: 0 0 80px;

    &:last-child {
      padding-bottom: 40px;
    }

    &-active {
      padding-left: 25px;
      font-weight: 600;
      color: #00203a;
    }
  }

  &__photo {
    margin-bottom: 60px;
  }

  &__wrapper {
    max-height: 200px;

    &-left {
      width: 60%;
    }

    &-right {
      width: 30%;
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__projects {
    margin: 0;
  }

  &__text{
    width: 485px;
    line-height: 30px;
  }

  &__subcaption{
    display: inline-block;
    margin: 0;

    font-size: 30px;
    color: #112537;
    font-family: 'Playfair Display SC', serif;
  }

  &__button{
    width: 215px;
    height: 55px;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #112537;
    text-transform: uppercase;
    border: solid 2px #112537;
    background-color: #fdfaf3;
  }
}

.article {
  width: 100%;
  height: 595px;
  position: relative;
  background-size: cover;
  background: url("../img/d-background-image3.jpg") no-repeat;
  background-color: rgba(17, 37, 55, .6);
  background-blend-mode: multiply;

  font-size: 13px;
  font-family: "Raleway";
  color: rgb(255, 255, 255);
  line-height: 650px;
  text-align: center;

  &::before {
    content: '';
    width: 110px;
    height: 110px;
    background: url("../img/play.png") no-repeat;
    position: absolute;
    top: 35%;
    left: calc(50% - 55px);
    cursor: pointer;
  }

  &__text {
    margin: 0;
  }
}

.stages {
  padding: 120px 90px;

  &__list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    counter-reset: myCounter;
  }

  &__item {
    width: 30%;
    list-style: none;
    padding-top: 25px;
    position: relative;

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      background-color: rgba(254, 160, 82, 0.26);
      border-radius: 15px;
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      padding: 2px 8px;
      top: 55px;
      left: -40px;
      position: absolute;
    }
  }

  &__subtitle {
    font-size: 22px;
    color: #313131;
    font-weight: 600;
    font-family: 'Playfair Display SC', serif;
    position: relative;

    &::after {
      content: '';
      width: 45px;
      height: 2px;
      background-color: #313131;
      position: absolute;
      left: 0;
      bottom: -7px;
    }
  }
}
