html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 1360px;
  margin: 0 auto;
}

header {
  max-width: 100%;
  position: relative;
  background-color: #fdfaf3;
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/Fontfabric - MullerLight.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

section {
  background-color: #fdfaf3;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.header {
  &__background {
    position: absolute;
    top:0;
    left: 0;
    width: 1163px;
    margin: 80px 95px 80px 100px;
    height: 595px;

    background: url("../img/d-background-image.jpg") 0 0 no-repeat;
    background-size: cover;
  }

  &__content {
    width: 679px;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    color: #ffffff;
    background-color: rgba(17, 37, 55, .97);
    z-index: 1;
  }

  &__logo {
    position: absolute;
    top: 25px;
    right: -65px;

    &-white {
      display: none;
    }
  }

  &__wrapper {
    margin: 0 125px 0 190px;
  }

  &__title {
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 24px;
    margin: 0;
  }

  &__description {
    font-family: 'MullerLight', serif;
    font-size: 14px;
    line-height: 1.448;
    padding-bottom: 35px;
    margin: 0;
  }

  &-navigation {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 30px;
    left: 102px;
    opacity: .5;
  }

  &-navigation__list {
    display: none;
    list-style: none;
    position: absolute;
    top: 80px;
    left: 95px;
    width: 1168px;
    height: 595px;
    background-color: rgb(17, 37, 55);
    z-index: 1;
    padding-top: 130px;
    box-sizing: border-box;
  }

  &-navigation__link {
    display: block;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    line-height: 3;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__link {
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    width: 277px;
    height: 56px;
    box-sizing: border-box;
    padding: 20px 30px;

    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;

    border: 1px solid #ffffff;
    box-shadow: 4px 7px 20px 8px rgba(0, 1, 6, 0.06);

    &:hover {
      background-color: #f8a25a;
    }

    &::after {
      position: absolute;
      width: 40px;
      height: 10px;
      top: 20px;
      right: 29px;
      content: url("../img/arrow-OutRight-icon.png");
    }
  }

  &__phone {
    font-size: 14.562px;
    font-family: "Muller", sans-serif;
    color: rgb(37, 37, 37);
    letter-spacing: 1px;
    line-height: 1.2;
    position: absolute;
    top: 30px;
    right: 95px;
  }
}

.social__navigation {
  position: absolute;
  bottom: 30px;
  left: 100px;
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.features {
  &__list {
    width: 100%;
    min-height: 570px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 95px;
    margin: 0;
    counter-reset: myCounter;
  }

  &__item {
    width: 260px;
    list-style: none;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;

    &:nth-child(even) {
      align-self: flex-end;
    }

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: rgba(254, 160, 82, 0.26);
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      margin: 0 10px 0 0;
      padding: 0 8px;

      font-family: 'Playfair Display SC', serif;
      font-size: 85px;
    }
  }

  &__title {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: #1a292f;
    padding: 25px 0;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 0.8px;
    color: #838383;
  }
}


.main-caption{
  font-family: 'Playfair Display SC', serif;
  font-size: 45px;

  color: #00203a;
}

.portfolio,
.services {
  padding: 0 90px 50px;

  color: #7d7d7d;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.portfolio {
  &__title{
    padding-bottom: 55px;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 10px 0 40px;
    font-weight: 600;
  }

  &__item {
    margin-right: 60px;

    &-active{
      position: relative;
      color: #00203a;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #00203a;
        bottom: -5px;
        left: 0;
      }
    }
  }

  &__slider {
    width: 100%;
    height: 550px;
    overflow: hidden;
    background-color: rgba(255, 0, 0, 0.29);
    display: flex;
  }

  &__block {
    flex: 1 1 auto;
    position: relative;
    & img {
      width: 100%;
    }

    &-small::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(17, 37, 55, .8);
    }

    &-big:hover::after {
      position: absolute;
      content: url("../img/plus.png");
      width: 110px;
      height: 110px;
      top: 40%;
      left: 40%;
    }
  }

}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

  &-caption {
    width: 100%;
    margin-bottom: 70px;
  }

  &__content {
    width: 875px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list {
    flex: 1 1 auto;
    width: 225px;
    padding: 0;
    margin-right: 50px;
  }

  &__item {
    font-weight: 300;
    height: 110px;

    &:last-child {
      padding-bottom: 40px;
    }

    &-active {
      padding-left: 25px;
      font-weight: 600;
      color: #00203a;
    }
  }

  &__photo {
    margin-bottom: 40px;
  }

  &__wrapper {
    max-height: 200px;

    &-left {
      width: 60%;
    }

    &-right {
      width: 30%;
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
    }
  }
  &__projects {
    margin: 0;
  }

  &__text{
    width: 485px;
    line-height: 30px;
  }

  &__subcaption{
    display: inline-block;
    margin: 0;

    font-size: 30px;
    color: #112537;
    font-family: 'Playfair Display SC', serif;
  }

  &__button{
    width: 215px;
    height: 55px;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #112537;
    text-transform: uppercase;
    border: solid 2px #112537;
    background-color: #fdfaf3;
  }
}

.article {
  width: 100%;
  height: 595px;
  position: relative;
  background-size: cover;
  background: url("../img/d-background-image3.jpg") no-repeat;
  background-color: rgba(17, 37, 55, .6);
  background-blend-mode: multiply;

  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  line-height: 650px;
  text-align: center;

  &::before {
    content: '';
    width: 110px;
    height: 110px;
    background: url("../img/play.png") no-repeat;
    position: absolute;
    top: 35%;
    left: calc(50% - 55px);
    cursor: pointer;
  }

  &__text {
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}

.stages {
  padding: 50px 90px 100px;

  &__list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    counter-reset: myCounter;
  }

  &__item {
    width: 280px;
    margin: 0 30px;
    list-style: none;
    padding-top: 25px;
    position: relative;

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      background-color: rgba(254, 160, 82, 0.26);
      border-radius: 15px;
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      padding: 2px 8px;
      top: 50px;
      left: -40px;
      position: absolute;
    }
  }

  &__subtitle {
    font-size: 22px;
    color: #313131;
    font-weight: 600;
    line-height: 0.8;
    font-family: 'Raleway', serif;
    position: relative;

    &::after {
      content: '';
      width: 45px;
      height: 2px;
      background-color: #313131;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }

  &__text {
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    color: #5e5e5e;
    margin: 0;
    padding-top: 30px;
  }
}

.form {
  width: 100%;
  display: flex;

  &__caption {
    color: #fdfaf3;
    font-size: 31px;
  }

  &__wrapper {
    padding: 0;
    margin: 0;
    flex-basis: 50%;
    height: 690px;

    &-left {
      background-color: #00203a;
      color: #dcd9d2;
      padding: 80px 90px 90px 105px;
      box-sizing: border-box;
    }

    &-right {
      background: url("../img/d-background-image4.jpg") no-repeat;
      background-size: cover;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }

  &__list {
    & input {
      color: rgb(255, 255, 255);
      font-size: 16px;
      width: 100%;
      margin: 20px 0;
      padding: 10px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      outline: none;

      &:focus {
        border-color: rgb(255, 255, 255);
      }

      &::placeholder {}
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__label {
    position: relative;

    &::before {
      position: absolute;
      width: 22px;
      height: 20px;
      right: 0;
      top: 0;
    }

    &-name::before {
      content: url("../img/person-icon.png");
    }

    &-phone::before {
      content: url("../img/phone-ring-icon.png");
    }

    &-email::before {
      content: url("../img/email-icon.png");
    }
  }

  &__button {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 57px;
  }
}

.reviews {
  padding: 70px 0;

  &__caption {
    padding: 0 90px;
  }
  &__content {
    margin: 70px 0;
    display: flex;
    justify-content: center;
  }
}

.review {
  margin: 0 230px 0 90px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 650px;
  height: 270px;
  box-sizing: border-box;
  padding: 40px 140px 40px 70px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 36.72px 14.28px rgba(0, 0, 1, 0.02);
  position: relative;

  &__name {
    font-size: 22px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    line-height: 1.364;
    margin: 0;
  }

  &__service {
    color: rgb(239, 177, 114);
    font-weight: bold;
    line-height: 1.2;
  }

  &__text {
    color: rgb(94, 94, 94);
    line-height: 1.563;
  }

  &__image-container {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 190px;
    top: 40px;
    right: -100px;
  }
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #00203a;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    text-align: center;
  }

  &__navigation {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
}
