@mixin tablet-width {
  @media screen and (max-width: 769px) {
    @content
  }
}

@mixin phone-width {
  @media screen and (max-width: 321px) {
    @content
  }
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 1360px;
  margin: 0 auto;
  background-color: #fdfaf3;

  @include tablet-width{
    width: 768px;
    margin: 0;
  }

  @include phone-width{
    width: 320px;
  }
}

header {
  max-width: 100%;
  position: relative;
  background-color: #fdfaf3;
}

@font-face {
  font-family: 'MullerLight';
  src: url("../fonts/Fontfabric - MullerLight.otf") format('otf');
  font-weight: normal;
  font-style: normal;
}

section {
  background-color: #fdfaf3;
}

h2 {
  margin: 0;
}

ul {
  margin: 0;
  list-style: none;
}

.header {
  &__background {
    position: absolute;
    top: 80px;
    left: 100px;
    width: 1163px;
    min-height: 595px;

    background: url("../img/d-background-image.jpg") 0 0 no-repeat;
    background-size: cover;

    @include tablet-width {
      width: 100%;
      top: 0;
      left: 0;
      min-height: 1112px;
      background: url("../img/t-background-image.jpg") 0 0 no-repeat;
    }

    @include phone-width {
      min-height: 608px;
      background: url("../img/p-background-image.jpg") 0 0 no-repeat;
    }
  }

  &__content {
    width: 679px;
    min-height: 770px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    color: #ffffff;
    background-color: rgba(17, 37, 55, .9);
    z-index: 1;

    @include tablet-width {
      align-items: center;
      min-height: 1112px;
      width: 100%;
      margin: 0;
    }

    @include phone-width {
      min-height: 608px;
    }
  }

  &__logo {
    position: absolute;
    top: 25px;
    right: -65px;

    @include tablet-width {
      display: none;
    }

    &-white {
      display: none;
      @include tablet-width {
        display: block;
        position: absolute;
        top: 60px;
        left: 40px;
      }

      @include phone-width {
        top: 25px;
        left: 15px;
      }
    }
  }

  &__wrapper {
    margin: 0 125px 0 190px;

    @include tablet-width {
      margin: 0;
      width: 600px;
      text-align: center;
    }

    @include phone-width {
      width: 292px;
    }
  }

  &__title {
    font-family: 'Playfair Display SC', serif;
    font-size: 60px;
    line-height: 1;
    padding-bottom: 24px;
    margin: 0;

    @include tablet-width {
      font-size: 85px;
    }

    @include phone-width {
      font-size: 42px;
    }
  }

  &__description {
    font-family: 'MullerLight', serif;
    font-size: 14px;
    line-height: 1.448;
    padding-bottom: 35px;
    margin: 0;

    @include tablet-width {
      font-size: 26px;
    }

    @include phone-width {
      font-size: 18px;
      font-family: 'MullerLight', serif;
    }
  }

  &-navigation {
    width: 26px;
    height: 26px;
    position: absolute;
    top: 30px;
    left: 102px;
    opacity: .5;

    @include tablet-width {
      top: 60px;
      left: auto;
      right: 40px;
      opacity: .9;
      z-index: 2;
    }

    @include phone-width {
      right: 15px;
      top: 25px;
    }
  }

  &-navigation__list {
    display: none;
    list-style: none;
    position: absolute;
    top: 80px;
    left: 95px;
    width: 1168px;
    height: 595px;
    background-color: rgb(17, 37, 55);
    z-index: 1;
    padding-top: 130px;
    box-sizing: border-box;

    @include tablet-width{
      width: 768px;
      height: 1112px;
      top: 0;
      left: 0;
    }

    @include phone-width{
      width: 320px;
      height: 608px;
    }
  }

  &-navigation__link {
    display: block;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, .5);
    font-weight: 400;
    line-height: 3;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    @include tablet-width{
      font-size: 32px;
      line-height: 4;
    }

    @include phone-width{
      font-size: 22px;
      line-height: 3;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    width: 277px;
    height: 56px;
    box-sizing: border-box;
    padding: 20px 30px;

    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: left;

    border: 1px solid #ffffff;
    box-shadow: 4px 7px 20px 8px rgba(0, 1, 6, 0.06);

    @include tablet-width{
      font-size: 30px;
      margin: 0 auto;
      width: 400px;
      text-align: center;
      padding: 0;
      line-height: 110px;
      height: 110px;
    }

    @include phone-width {
      width: 225px;
      height: 56px;
      font-size: 14px;
      line-height: 56px;
    }

    &:hover {
      background-color: #f8a25a;
    }

    &::after {
      position: absolute;
      width: 40px;
      height: 10px;
      top: 20px;
      right: 29px;
      content: url("../img/arrow-OutRight-icon.png");

      @include tablet-width{
        display: none;
      }
    }
  }

  &__phone {
    font-size: 14.562px;
    font-family: "Muller", sans-serif;
    color: rgb(37, 37, 37);
    letter-spacing: 1px;
    line-height: 1.2;
    position: absolute;
    top: 30px;
    right: 95px;

    @include tablet-width{
      display: none;
    }
  }
}

.social__navigation {
  position: absolute;
  bottom: 30px;
  left: 100px;
  display: flex;
  justify-content: space-between;
  width: 110px;
}

.features {
  &__list {
    width: 100%;
    min-height: 570px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 50px 95px;
    margin: 0;
    counter-reset: myCounter;

    @include tablet-width{
      padding: 50px 35px;
    }

    @include phone-width {
      padding: 50px 15px;
    }
  }

  &__item {
    width: 260px;
    list-style: none;
    line-height: 20px;
    font-family: 'Raleway', sans-serif;

    @include tablet-width{
      box-sizing: border-box;
      width: 347px;
      padding-right: 70px;
      font-size: 18px;
      line-height: 25px;
    }

    @include phone-width {
      width: 100%;
      padding: 0 0 25px;
    }

    &:nth-child(even) {
      align-self: flex-end;

      @include tablet-width {
        padding-top: 140px;
      }

      @include phone-width {
        padding-top: 0;
      }
    }

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: rgba(254, 160, 82, 0.26);
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      margin: 0 10px 0 0;
      padding: 0 8px;

      font-family: 'Playfair Display SC', serif;
      font-size: 85px;

      @include tablet-width {
        line-height: .7;
      }
    }
  }

  &__title {
    font-family: "Raleway", sans-serif;
    margin: 0;
    font-size: 22px;
    font-weight: 600;
    color: #1a292f;
    padding: 25px 0;

    @include tablet-width {
      font-size: 24px;
    }
  }

  &__text {
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    letter-spacing: 0.8px;
    color: #838383;
  }
}


.main__title{
  font-family: 'Playfair Display SC', serif;
  font-size: 45px;

  color: #00203a;
}

.portfolio,
.services {
  padding: 0 90px 50px;

  color: #7d7d7d;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;

  @include tablet-width {
    padding: 0 35px 0;
  }

  @include phone-width {
    padding: 0 15px 0;
  }
}

.portfolio {
  &__title{
    padding-bottom: 55px;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 10px 0 40px;
    font-weight: 600;

    @include tablet-width {
      font-size: 22px;
      width: 100%;
      justify-content: space-between;
    }

    @include phone-width {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 60px;

    @include tablet-width {
      margin: 0;
    }

    @include phone-width {
      margin-bottom: 25px;
    }

    &-active{
      position: relative;
      color: #00203a;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #00203a;
        bottom: -5px;
        left: 0;

        @include tablet-width {
          display: none;
        }
      }
    }
  }

  &__slider-desktop {
    background-color: #fdfaf3;
    height: 559px;
    overflow: hidden;
    display: flex;
    padding: 0 90px;
    margin-bottom: 50px;

    @include tablet-width {
      display: none;
      width: 100%;
    }
  }

  &__slider-tablet {
    display: none;

    @include tablet-width {
    background-color: #fdfaf3;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    height: 620px;
    }

    @include phone-width {
      height: 529px;
    }
  }

  &__description-tablet {
    display: none;

    @include tablet-width {
      background-color: #fdfaf3;
      font-weight: 600;
      color: #00203a;
      display: block;
      width: 100%;
      margin: 25px 0 50px;
      text-align: center;
      font-size: 20px;
      font-family: 'Raleway', sans-serif;
    }
  }

  &__block {
    flex: 1 1 auto;
    position: relative;
    & img {
      width: 100%;
    }

    &-big {
      @include tablet-width {
        width: 605px;
        //margin: 0 44px;
        flex: 0 0 auto;
        margin: 0 auto;
      }

      @include phone-width {
        width: 260px;
        //margin: 0 44px;
        margin: 0 auto;
      }
    }

    &-small::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(17, 37, 55, .8);
    }

    &-big:hover::after {
      position: absolute;
      content: url("../img/plus.png");
      width: 110px;
      height: 110px;
      top: 40%;
      left: 40%;
    }
  }

}

.services {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

  @include tablet-width {
    padding: 0;
    margin-bottom: 50px;
  }

  &-title {
    width: 100%;
    margin-bottom: 70px;

    @include tablet-width {
      padding: 0 35px;
    }

    @include phone-width {
      padding: 0 15px;
      margin-bottom: 50px;
    }
  }

  &__content {
    width: 875px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  &__list {
    flex: 1 1 auto;
    width: 225px;
    padding: 0;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;

    @include tablet-width {
      font-size: 22px;
      font-family: "Raleway", sans-serif;
      width: 100%;
      margin-right: 0;
      padding: 0 35px;
      box-sizing: border-box;
    }

    @include phone-width {
      padding: 0 15px 0;
    }
  }

  &__item {
    font-weight: 300;
    height: 110px;

    @include tablet-width {
      height: 80px;
      width: 345px;
      padding-right: 50px;
      box-sizing: border-box;
    }

    @include phone-width {
      padding-right: 0;
    }

    &:last-child {
      padding-bottom: 40px;
    }

    &-active {
      padding-left: 25px;
      font-weight: 600;
      color: #00203a;

      @include tablet-width {
        padding-left: 0;
      }
    }
  }

  &__photo {
    margin-bottom: 40px;
  }

  &__wrapper {
    max-height: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include tablet-width {
      box-sizing: border-box;
      padding: 0 35px;
      position: relative;
      min-height: 320px;
    }

    @include phone-width {
      padding: 0 15px;
    }

    &-left {
      width: 60%;
    }

    &-right {
      width: 30%;
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-between;
      margin-left: auto;
    }
  }
  &__projects {
    margin: 0;

    @include phone-width {
      display: none;
    }
  }

  &__text{
    width: 485px;
    line-height: 30px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;

    @include phone-width {
      width: 290px;
      font-size: 20px;
    }
  }

  &__subtitle{
    display: inline-block;
    margin: 0;

    font-size: 30px;
    color: #112537;
    font-family: 'Playfair Display SC', serif;

    @include phone-width {
      display: none;
    }
  }

  &__button {
    width: 215px;
    height: 55px;

    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #112537;
    text-transform: uppercase;
    border: solid 2px #112537;
    background-color: #fdfaf3;

    @include tablet-width {
      position: absolute;
      width: 340px;
      height: 70px;
      font-size: 18px;
      left: 35px;
      bottom: 0;
    }

    @include phone-width {
      width: 215px;
      height: 55px;
      left: 55px;
      bottom: -12px;
    }
  }
}

.article {
  width: 100%;
  height: 595px;
  position: relative;
  background-size: cover;
  background: url("../img/d-background-image3.jpg") no-repeat;
  background-color: rgba(17, 37, 55, .6);
  background-blend-mode: multiply;

  font-family: 'Raleway', sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;

  @include tablet-width {
    height: 815px;
    background: url("../img/t-background-image3.jpg") no-repeat;
    background-color: rgba(17, 37, 55, .6);
    background-blend-mode: multiply;
  }

  @include phone-width {
    height: 622px;
    background: url("../img/p-background-image3.jpg") no-repeat;
    background-color: rgba(17, 37, 55, .6);
    background-blend-mode: multiply;
  }

  &::before {
    content: '';
    width: 110px;
    height: 110px;
    background: url("../img/play.png") no-repeat;
    position: absolute;
    top: 35%;
    left: calc(50% - 55px);
    cursor: pointer;

    @include tablet-width {
      top: calc(50% - 55px);
    }

    @include phone-width {
      left: 35%;
    }
  }

  &__text {
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.5px;
    position: absolute;
    left: 33%;
    top: 55%;

    @include tablet-width {
      font-size: 22px;
      width: 455px;
      margin: 0 auto;
      left: 20%;
      top: 57%;
    }

    @include phone-width {
      width: 290px;
      left: 5%;
      top: 60%;
    }
  }
}

.stages {
  padding: 50px 90px 100px;

  @include tablet-width {
    padding: 50px 35px 100px;
  }

  @include phone-width {
    padding: 50px 15px 100px;
  }

  &__title {
    @include phone-width {
      text-align: center;
    }
  }

  &__list {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    counter-reset: myCounter;

    @include phone-width {
      padding-left: 15px;
    }

  }
  &__item {
    width: 280px;
    margin: 0 30px;
    list-style: none;
    padding-top: 25px;
    position: relative;

    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      background-color: rgba(254, 160, 82, 0.26);
      border-radius: 15px;
      display: inline-block;
      text-align: center;
      line-height: normal;
      height: auto;
      width: auto;
      padding: 2px 8px;
      top: 50px;
      left: -40px;
      position: absolute;
    }
  }

  &__subtitle {
    font-size: 22px;
    color: #313131;
    font-weight: 600;
    line-height: 0.8;
    font-family: 'Raleway', serif;
    position: relative;

    &::after {
      content: '';
      width: 45px;
      height: 2px;
      background-color: #313131;
      position: absolute;
      left: 0;
      bottom: -10px;
    }
  }

  &__text {
    font-family: 'Raleway', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.56;
    color: #5e5e5e;
    margin: 0;
    padding-top: 30px;
  }
}

.form {
  width: 100%;
  display: flex;

  &__title {
    color: #fdfaf3;
    font-size: 31px;
  }

  &__wrapper {
    padding: 0;
    margin: 0;
    flex-basis: 50%;
    height: 690px;

    @include tablet-width {
      flex-basis: 100%;
      height: 708px;
    }

    @include phone-width {
      height: 911px;
    }

    &-left {
      background-color: rgb(17, 37, 55);
      color: #dcd9d2;
      padding: 80px 90px 90px 105px;
      box-sizing: border-box;

      @include tablet-width {
        background: url("../img/t-background-image4.jpg") no-repeat;
        background-color: rgba(17, 37, 55, .1);
        background-blend-mode: multiply;
        text-align: center;
        padding: 70px 135px 80px;
      }

      @include phone-width {
        padding: 70px 15px 80px;
        background: url("../img/p-background-image4.jpg") no-repeat;
        background-color: rgba(17, 37, 55, .1);
      }
    }

    &-right {
      background: url("../img/d-background-image4.jpg") no-repeat;
      background-size: cover;

      @include tablet-width {
        display: none;
      }

    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    @include tablet-width {
      width: 485px;
    }

    @include phone-width {
      width: 290px;
    }
  }

  &__list {
    @include tablet-width {
      width: 485px;
    }

    @include phone-width {
      width: 290px;
    }
    & input {
      color: rgb(255, 255, 255);
      font-size: 16px;
      width: 100%;
      margin: 20px 0;
      padding: 10px 0;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.8);
      outline: none;

      &:focus {
        border-color: rgb(255, 255, 255);
      }

      &::placeholder {}
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &__label {
    position: relative;

    &::before {
      position: absolute;
      width: 22px;
      height: 20px;
      right: 0;
      top: 0;
    }

    &-name::before {
      content: url("../img/person-icon.png");
    }

    &-phone::before {
      content: url("../img/phone-ring-icon.png");
    }

    &-email::before {
      content: url("../img/email-icon.png");
    }
  }

  &__button {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 57px;
  }
}

.reviews {
  padding: 70px 0;
  overflow: hidden;

  @include tablet-width{
    padding-left: 35px;
  }

  @include phone-width {
    padding: 50px 0 0 0;
  }

  &__title {
    padding: 0 90px;

    @include tablet-width {
      padding: 0;
    }

    @include phone-width {
      text-align: center;
    }
  }

  &__content {
    margin: 70px 0;
    display: flex;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    @include tablet-width {
      justify-content: flex-start;
    }

    @include phone-width {
      justify-content: center;
      margin-top: 120px;
    }
  }
}

.review {
  margin: 0 250px 0 0;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  width: 650px;
  height: 270px;
  box-sizing: border-box;
  padding: 40px 140px 40px 70px;
  background-color: rgb(255, 255, 255);
  box-shadow: 4px 6.928px 36.72px 14.28px rgba(0, 0, 1, 0.02);
  position: relative;

  @include tablet-width{
    width: 649px;
    margin: 0 150px 0 0;
  }

  @include phone-width {
    width: 290px;
    height: 565px;
    padding: 110px 20px 10px;
  }

  &__name {
    font-size: 22px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    line-height: 1.364;
    margin: 0;
  }

  &__service {
    color: rgb(239, 177, 114);
    font-weight: bold;
    line-height: 1.2;
  }

  &__text {
    color: rgb(94, 94, 94);
    line-height: 1.563;
  }

  &__image-container {
    position: absolute;
    overflow: hidden;
    width: 200px;
    height: 190px;
    top: 40px;
    right: -85px;

    @include phone-width {
      top: -100px;
      right: 46px;
    }
  }
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #00203a;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    text-align: center;
  }

  &__navigation {
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    width: 150px;
  }
}

#Slide1:checked ~ .reviews__content {
  margin-left: 125%;
  @include tablet-width{
    margin-left: 0;
  }

  @include phone-width {
    margin-left: 211%;
  }
}

#Slide2:checked ~ .reviews__content {
  margin-left: 15%;
  @include tablet-width{
    margin-left: -109%;
  }

  @include phone-width {
    margin-left: 47%;
  }
}

#Slide3:checked ~ .reviews__content {
  margin-left: -115%;
  @include tablet-width{
    margin-left: -218%;
  }

  @include phone-width {
    margin-left: -228%;
  }
}

.slider-wrapper {
  height: 470px;
  position: relative;
  margin: 50px auto 0;
  overflow: hidden;

  @include phone-width {
    height: auto;
  }
}

@mixin slider-controller {
  padding: 2px 15px;
  background-color: #00203a;
  position: absolute;
  left: 50%;
  bottom: 25px;
  opacity: 0.3;
  cursor: pointer;
}

#s1 {
  margin-left: -70px;
  @include slider-controller;
}

#s2 {
  margin-left: -30px;
  @include slider-controller;
}

#s3 {
  margin-left: 12px;
  @include slider-controller;
}

#s1:hover,
#s2:hover,
#s3:hover,
#s4:hover {
  opacity: .50;
}

.control {
  display: none;
}

#Slide1:checked + #s1,
#Slide2:checked + #s2,
#Slide3:checked + #s3 {
  opacity: 1;
}
